.bounding-box{
    position: absolute;
    box-shadow: 0 0 0 3px #5EF38C inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imageBox {
    position: relative;
}

#inputimage {
    max-height: 500px;
    max-width: 500px;
}