@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(70deg, #32c5d2 0%, #48106a 100%);
}

button {
  cursor: pointer;
}

/* colours indigo-#48106A brown green-#343A1A dark green-#2B9720 ligtht green-#5EF38C light blue-#32C5D2*/