@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, #32c5d2 0%, #48106a 100%);
}

.logo {
  filter: invert(82%) sepia(51%) saturate(509%) hue-rotate(72deg) brightness(96%) contrast(99%);
  width: 100px;
}

/* colours indigo-#48106A brown green-#343A1A dark green-#2B9720 ligtht green-#5EF38C light blue-#32C5D2*/